version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_PORT=5678
      - N8N_BASIC_AUTH_ACTIVE=false
    volumes:
      - ./n8n_data:/home/node/.n8n